{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "We got shirts." context "Homepage title" %}</h1>
                <h2>{% trans "You've got sadness." context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="/products/category/shirts-1/">
                    {% trans "Shop now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
